<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiCalculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/main.CSS') }}">
</head>
<body>
    <header>
        <h1>Projects</h1>
        <br>
        <h3>By Valentin Stelea & Karthik Subramanian</h3>
        <br>
        <h6>Calculator for approximating pi using Taylor Series:</h6>
        <a href= picalc>
        <button>Go to Pi Calculator!</button>
        </a>
        <br>
        <br>
        <h6>Stock Market Scraper:</h6>
        <button>Coming Soon!</button>
    </header>
</body>
</html>