<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PiCalculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'CSS/main.CSS') }}">
</head>
<body>
    <header>
        <h1>PiCalculator</h1>
        <br>
        <a href= />
        <button>Return</button>
        </a>
        <br>
        <br>
            <form method="post" action=computeResult style="text-align:center">
            <table>
              {% for field in form %}
                <tr>
                    <td>{{ field.label}}</td>
                    <br>
                    <td>{{ field }}</td>
                    <br>

                </tr>
              {% endfor %}
            </table>
            <p>
            {% if result != None %}
            <img src="{{ result }}" width=500>
            {% endif %}
            <div id="result">
                {% if numTerms is defined %}
                    {% if approximation is defined %}
                        Pi as approximately{{ approximation }} with {{numTerms}} terms summed up
                    {% endif %}
                {% endif %}
            </div>
            </p>
                    <br>
                    <br>
                    <br>
                <p><input type=submit value=Compute></form></p>
            <br>

            </form>
    </header>
</body>
</html>